.jumbotron {
  padding-top: 6rem;
  background-color: #783030;
}

#about {
  background-color: #c4c4c4;
}

#akademik {
  background-color: #c7e7df;
}

#layanan {
  background-color: #c4c4c4;
}

#contak {
  background-color: #6f877e;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #000000;
  color: #fff;
}

.biru {
  color: #26148b;
}
.kuning {
  color: #dab616;
}

.navbar{
  border-radius:0 0 20px 20px;
}
