/* default version */

/* .gradasi{
    background: linear-gradient(#5e5e5e 5%,white);
} */


.genre, .eksplore, .rak, .kirim{
    padding-top: 20px;
}

.ikon{
    font-size: 50px;
    color: aqua;
}

.slide{
    padding: 0 10px;
}
.myslide{
    border-radius: 15px;
}

.piala{
    color: #e6e20d;
}

.buku{
    color: #e60da5;
}

.pensil{
    color: blue;
}

.uang{
    color: #31e60d;
}

.api{
    color: #fc6705;
}


footer{
    height: 200px;
    background-color: #131313;
}
footer p{
    color: #dce1e6;
}






/* laptop version */
@media (min-width: 1200px) { 
    .myslide{
        height: 500px;
    }
}