body {
    font-family: "Lato", sans-serif;
    /* min-height: 7000px; */
  }


  /* dafault */
  .jumbotron{
    width: 100%;
    height: 500px;
    background-image: url('../img/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -450px;
    background-attachment: fixed;
  }


  /* sidebar */
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-top: 60px;
    /* display: none; */
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  /* akhir sidebar */



/* animasi menu */
.mySidenav{
  display:flex;
  flex-direction:column;
  align-items:center;
  width:250px;
  }
  
  a.animate{
  font-size:20px;
  color:#fff;
  position:relative;
  }
  a.animate::after{
  position:absolute;
  content:"";
  width:0%;
  height:4px;
  background-color:#433ac2;
  left:50%;
  bottom:-10px;
  transition: all 0.3s ease-in-out;
  }
  
  a.animate:hover{
  cursor:pointer;
  }
  
  a.animate:hover:after{
  cursor:pointer;
  width:100%;
  left:0;
  }
  /* akhir animasi menu */


  /* search */
  .search-box{
    position:absolute;
    top: 20%;
    left:50%;
    transform:translate(-50%,-50%);
    background:#505253;
    height:40px;
    border-radius:40px;
    /* padding:10px; */
    }
    
    .search-box:hover > input{
    width:150px;
    padding:0 15px;
    }
    
    .search-box:hover > .icon{
    background:#536179;
    }
    
    .icon:hover{
    transform:rotate(360deg) scale(0.8);
    }
    
    input{
    width:0;
    border:none;
    outline:none;
    padding:0;
    background:none;
    font-size:1.1rem;
    transition:0.5s ease;
    line-height:40px;
    color:#fff;
    }
    
    .icon{
    color:#21DFCD;
    float: right;
    width:40px;
    font-size:1.3rem;
    height:40px;
    border-radius:50%;
    background:#2f3640;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:0.4s;
    cursor:pointer;
    text-decoration:none;
    }
  /* akhir search */



  /* contact */
  .icons-wrapper{
   text-align: center;
  }
  .icons{
    display: inline-block;
    font-size:44px;
    animation:float 5s ease-in-out infinite;
    }
    .ri-facebook-circle{
    animation-delay: 1s;
    color: #433ac2;
    }
    
    .ri-whatsapp-line{
    animation-delay:2s;
    color: #0de24d;
    }
    .ri-instagram-line{
    animation-delay:3s;
    color:#fc7404;
    }
    
    @keyframes float{
    0%{
    transform:translateY(0);
    }
    
    50%{
    transform:translateY(-15px);
    }
    
    100%{
    transform:translateY(0);
    }
    }

    .kirim{
      /* margin-left: 85%; */
      margin-top: 10px;
      margin-bottom: 100px;
    }

    /* loading */
    a.scanner{
      color:#252839;
      position:absolute;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      }
      
      a.scanner:before{
      content:"Remaja_Masjid_AL_Amin_Karanganyar";
      position:absolute;
      top:0;
      left:0;
      width:0;
      height:100%;
      border-right: 4px solid #ffc917;
      overflow:hidden;
      color:#ffc917;
      animation:load 4s linear infinite;
      }

      .coba{
        padding-left: 35%;
      }
      
      @keyframes load{
      0%,10%,100%{
      width:0;
      }
      60%,80%{
      width:100%;
      }
    }


  /* akhir contact */




  .bi-search-heart{
      font-size: 25px;
  }

  .cari{
    text-decoration: none;
    color: #111;
  }


  .sembunyi{
    display: none;
  }



  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  .d-flex{
    width: 300px;
    float: right;
  }

  table, th, td {
    border:1px solid black;
  }

  footer{
    width: 100%;
    height: 200px;
    background: #000;
    color: #3a3a3a;
  }
  a.bagus{
    text-decoration: none;
    color: #ec5f0e;
  }



  .ikon {
    color: #fff;
    animation: first_color .5s ease-in-out infinite alternate;
    display: block;
    padding-left: 10px;
}


.ikon:nth-child(2) {
    animation-name: second_color;
}

.ikon:nth-child(3) {
    animation-name: third_color;
}

@keyframes first_color {
    0% {
        text-shadow: 0 0 10px #ff1177,
            0 0 20px #d6249f, 0 0 30px #285AEB
    }

    100% {
        text-shadow: 0 0 5px #ff1177,
            0 0 10px #d6249f, 0 0 15px #285AEB
    }
}

@keyframes second_color {
    0% {
        text-shadow: 0 0 10px #1877f2,
            0 0 20px #1459b3, 0 0 30px #179bff
    }

    100% {
        text-shadow: 0 0 5px #1877f2,
            0 0 10px #1459b3, 0 0 15px #179bff
    }
}

@keyframes third_color {
    0% {
        text-shadow: 0 0 10px #25d366,
            0 0 20px #48ee85, 0 0 30px #0ec0a5
    }

    100% {
        text-shadow: 0 0 5px #25d366,
            0 0 10px #48ee85, 0 0 15px #0ec0a5
    }
}






  /* mobile */
  @media (max-width: 576px) {
    .me-2{
      display: none;
    }
    .mob{
      float: right;
    }

    .hilang{
      display: none;
    }

    .jumbotron{
      width: 100%;
      height: 300px;
      background-image: url('../img/bg-mobile.avif');
      background-size: cover;
    }

    a.scanner{
      font-size: 15px;
    }

    .coba{
      padding-left: 30px;
    }
  }



